<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/fear0470/nicholas">Nick Fearns,</a> a web developer on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <p>
    He took a coding bootcamp which taught him the neccessary skills to create this website.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'nick.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nick Fearns</h2>
      <br />
      <p>
        Nick Fearns is an amateur web developer and Ruby on Rails contributor. Previously he worked as a journalist in Saskatchewan. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />